@charset "UTF-8";
@import url(animate.css);
@import url(material-icons.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
/*========================================================
						Main Styles
=========================================================*/
body {
  color: #8e8d93;
  font: 300 17px/24px "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
  padding-bottom: 30px;
  text-align: center;
  color: #252023;
  letter-spacing: 2px;
}
@media (max-width: 991px) {
  h2 {
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: 0;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 37px;
  }
}
h2:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100px;
  height: 7px;
  left: 50%;
  margin-left: -50px;
  bottom: 0;
  background: #ededed;
}
h2 span {
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: #b1b0b6;
  font-weight: 300;
  letter-spacing: 2.5px;
  padding-bottom: 10px;
}

h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 11px;
  color: #252023;
  text-align: center;
}
@media (max-width: 991px) {
  h3 {
    font-size: 34px;
    line-height: 1.1;
    letter-spacing: 0;
  }
}

h4 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  color: #252023;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 15px;
}

p a:hover, .marked-list a:hover, .list a:hover {
  text-decoration: underline;
}
p .fa, .marked-list .fa, .list .fa {
  text-decoration: none;
}

time {
  display: block;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:focus {
  outline: none;
}
a:active {
  background-color: transparent;
}

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none;
}

a[href^="callto:"]:hover {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

.fa {
  line-height: inherit;
}

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome";
}

.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}

.h3_p {
  font-size: 13px;
  color: #252023;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}

/*=======================================================
						 Main Layout
=========================================================*/
.fleft {
  float: left;
}

.fright {
  float: right;
}

.cntr {
  text-align: center;
}

.left {
  text-align: left;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

hr {
  border: none;
  height: 1px;
  background: #e9e8e9;
}

.link1 {
  color: #ea3b4f;
}
.link1:hover {
  color: #8e8d93;
}

@media (max-width: 767px) {
  .mobile_cntr {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .mobile_cntr2 {
    text-align: center;
  }
}
* + h3, * + h4, * + h5, * + h6, * + p, * + img, * + .btn {
  margin-top: 20px;
}

h2 + .row {
  margin-top: 20px;
}

h2 + .marTop1 {
  margin-top: 49px;
}

h2 + .marTop2 {
  margin-top: 44px;
}

h2 + .index-list {
  margin-top: 44px;
}

h2 + .section2 {
  margin-top: 73px;
}

.row + hr {
  margin-top: 132px;
}

.section2 + hr {
  margin-top: 147px;
}

.row.index-list + hr {
  margin-top: 105px;
}

.list3 + hr {
  margin-top: 43px;
}

.marTop2 + hr {
  margin-top: 145px;
}

hr + h2 {
  margin-top: 143px;
}

hr + .section1 {
  margin-top: 143px;
}

.section1 + hr {
  margin-top: 146px;
}

hr + h2.mod1 {
  margin-top: 149px;
}

h3 + .h3_p {
  margin-top: 19px;
}

.mailform + hr {
  margin-top: 150px;
}

h2 + .gall1 {
  margin-top: 35px;
}

h2 + .article-section {
  margin-top: 46px;
}

h2 + .article-section2 {
  margin-top: 37px;
}

.gall1 + .wrapper {
  margin-top: 74px;
}

.wrapper + hr {
  margin-top: 135px;
}

.wrapper + hr + h2 {
  margin-top: 143px;
}

h4 + p {
  margin-top: 16px;
}

p + .btn {
  margin-top: 30px;
}

.article-section + hr {
  margin-top: 148px;
}

.article-section + hr + h2 {
  margin-top: 143px;
}

.owl-carousel + hr {
  margin-top: 148px;
}

.owl-carousel + hr + h2 {
  margin-top: 143px;
}

img + h4 {
  margin-top: 34px;
}

.row + .row {
  margin-top: 44px;
}
@media (max-width: 767px) {
  .row + .row {
    margin-top: 0;
  }
}

.marTop1 + .row + hr {
  margin-top: 160px;
}

.marTop1 + .row + hr + h2 {
  margin-top: 143px;
}

.row + hr.marTop3 {
  margin-top: 129px;
}

.row + hr.marTop4 {
  margin-top: 147px;
}

.gall1.mod1 + hr {
  margin-top: 147px;
}

.section2 {
  padding: 0 100px;
}
@media (max-width: 1199px) {
  .section2 {
    padding: 0;
  }
}

/*=======================================================
						Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
  color: #fff;
}
.brand_name {
  overflow: hidden;
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -12px;
  float: left;
  padding-right: 20px;
  margin-right: 21px;
}
.brand_name span {
  display: inline-block;
  margin-top: 8px;
}
.brand_slogan {
  overflow: hidden;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
}

/*==================  List1  ======================*/
.list1 {
  margin-top: 76px;
  padding-bottom: 44px;
  overflow: hidden;
}
.list1 li {
  position: relative;
  text-align: center;
  padding-top: 94px;
}
@media (max-width: 1199px) {
  .list1 li {
    padding-top: 30px;
  }
}
.list1 li:before {
  text-align: center;
  position: absolute;
  display: inline-block;
  font-size: 32px;
  color: #ea3b4f;
  top: 0;
  left: 0;
  width: 100%;
}
.list1 li .num {
  font-weight: 700;
  font-size: 122px;
  line-height: 122px;
  color: #252023;
  letter-spacing: -10px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (max-width: 1199px) {
  .list1 li .num {
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: 0;
  }
}
.list1 li .num + h4 {
  margin-top: 42px;
}
.list1 li:hover .num {
  color: #ea3b4f;
}

/*==================  List2  ======================*/
.list2 {
  margin-top: 132px;
  padding-bottom: 74px;
  overflow: hidden;
}
.list2 li {
  position: relative;
  text-align: center;
  padding-top: 107px;
}
@media (max-width: 1199px) {
  .list2 li {
    padding-top: 30px;
  }
}
.list2 li:before {
  text-align: center;
  position: absolute;
  display: inline-block;
  font-size: 32px;
  color: #ea3b4f;
  top: 0;
  left: 0;
  width: 100%;
}
.list2 li h4 {
  text-transform: uppercase;
}
.list2 li h4 + address {
  margin-top: 39px;
}
.list2 li h4 + a {
  margin-top: 39px;
  display: inline-block;
}
.list2 li a:hover {
  color: #ea3b4f;
}

/*==================  List3  ======================*/
.list3 {
  margin-top: 46px;
  padding-bottom: 74px;
  overflow: hidden;
}
.list3 li {
  position: relative;
  text-align: center;
  padding-top: 107px;
}
@media (max-width: 1199px) {
  .list3 li {
    padding-top: 30px;
  }
}
.list3 li:before {
  text-align: center;
  position: absolute;
  display: inline-block;
  font-size: 32px;
  color: #ea3b4f;
  top: 0;
  left: 0;
  width: 100%;
}
.list3 li h4 + address {
  margin-top: 39px;
}
.list3 li h4 + p {
  max-width: 355px;
  margin: 0 auto;
  margin-top: 17px;
}

/*==================   Index List  ======================*/
.index-list li {
  margin-bottom: 35px;
  position: relative;
  padding-left: 72px;
}
.index-list li:before {
  top: 3px;
  left: 15px;
  position: absolute;
  color: #ea3b4f;
  font-size: 32px;
}
@media (min-width: 1199px) {
  .index-list li.col-lg-1:nth-child(12n + 13),
  .index-list li.col-lg-2:nth-child(6n + 7),
  .index-list li.col-lg-3:nth-child(4n + 5),
  .index-list li.col-lg-4:nth-child(3n + 4),
  .index-list li.col-lg-6:nth-child(2n + 3) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .index-list li.col-md-1:nth-child(12n + 13),
  .index-list li.col-md-2:nth-child(6n + 7),
  .index-list li.col-md-3:nth-child(4n + 5),
  .index-list li.col-md-4:nth-child(3n + 4),
  .index-list li.col-md-6:nth-child(2n + 3) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .index-list li.col-sm-1:nth-child(12n + 13),
  .index-list li.col-sm-2:nth-child(6n + 7),
  .index-list li.col-sm-3:nth-child(4n + 5),
  .index-list li.col-sm-4:nth-child(3n + 4),
  .index-list li.col-sm-6:nth-child(2n + 3) {
    clear: left;
  }
}
@media (max-width: 479px) {
  .index-list li.col-xs-1:nth-child(12n + 13),
  .index-list li.col-xs-2:nth-child(6n + 7),
  .index-list li.col-xs-3:nth-child(4n + 5),
  .index-list li.col-xs-4:nth-child(3n + 4),
  .index-list li.col-xs-6:nth-child(2n + 3) {
    clear: left;
  }
}

/*==================  Inline List  ======================*/
.inline-list {
  position: absolute;
  right: 47px;
  top: 395px;
}
@media (max-width: 991px) {
  .inline-list {
    top: 0;
    right: 0;
    position: relative;
    margin-top: 30px;
  }
}
@media (max-width: 991px) and (max-width: 567px) {
  .inline-list {
    margin-top: 100px;
  }
}

.inline-list li {
  display: block;
}
@media (max-width: 991px) {
  .inline-list li {
    display: inline-block;
  }
}
.inline-list li + li {
  margin-top: 7px;
}
@media (max-width: 991px) {
  .inline-list li + li {
    margin-top: 0;
    margin-right: 5px;
  }
}
.inline-list a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 47px;
  border: 2px solid #504f51;
  color: #504f51;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 22px;
  text-align: center;
}
@media (max-width: 991px) {
  .inline-list a {
    color: #fff;
  }
}
@media (max-width: 479px) {
  .inline-list a {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.inline-list a:hover {
  color: #252023;
  background-color: #fff;
  border-color: #fff;
}

/*==================    Quote     ======================*/
blockquote .box_cnt__no-flow {
  padding-left: 30px;
}
blockquote q:before {
  position: relative;
  top: -2px;
  left: 0;
  padding-right: 7px;
  content: "\f10d";
  color: #ea3b4f;
  font-family: "FontAwesome";
  font-size: 34px;
  line-height: 28px;
  vertical-align: top;
  z-index: 10;
}
blockquote cite {
  display: block;
  font-size: 16px;
  color: #ea3b4f;
}
blockquote cite a:hover {
  text-decoration: underline;
}
blockquote p + cite {
  margin-top: 8px;
}

/*==================  Marked List  ======================*/
@media (max-width: 1199px) {
  .marked-list {
    margin-right: 0;
    margin-top: -9px;
  }
}
.marked-list li {
  position: relative;
  padding-left: 20px;
  font-weight: 300;
  font-size: 17px;
  color: #252023;
}
.marked-list li:before {
  content: '\e315';
  position: absolute;
  left: -6px;
  top: 2px;
  font-weight: 400;
  font-size: px;
  font-family: 'Material Icons';
  color: #ea3b4f;
}
.marked-list li + li {
  margin-top: 26px;
}
.marked-list a:hover {
  color: #ea3b4f;
}

/*==================   Contact List   ======================*/
.contact-list address {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact-list a[href^="mailto:"] {
  color: #fff;
  text-decoration: underline;
}
.contact-list a[href^="mailto:"]:hover {
  text-decoration: underline;
}
.contact-list li dt {
  float: left;
}
.contact-list li dd {
  float: right;
  margin-right: 5px;
}
.contact-list li dl + dl {
  clear: both;
}
.contact-list li dl + dl dd, .contact-list li dl + dl dt {
  display: inline-block;
  float: none;
}
.contact-list li dt + dd {
  margin-top: 0;
}
.contact-list li dd + dt {
  clear: both;
  margin-top: 0;
}

/*==================     Privacy    =====================*/
.privacy {
  padding-top: 72px;
  padding-bottom: 0px;
}
.privacy dt {
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
  color: #252023;
}
.privacy dt + dd {
  margin-top: 14px;
}
.privacy dd + dt {
  margin-top: 66px;
}
.privacy a:hover {
  color: #ea3b4f;
  text-decoration: underline;
}

/*==================  Backgrounds  ======================*/
.bg1 {
  background: #ea3b4f;
}

.bg2 {
  background: #252023;
}

.bg3 {
  background: #8e8d93;
}

.color1 {
  color: #ea3b4f;
}

.color2 {
  color: #252023;
}

.color3 {
  color: #8e8d93;
}

/*==================     Icons     ======================*/
/*==================    Buttons    ======================*/
.btn {
  display: inline-block;
  padding: 13px 31px;
  font-size: 14px;
  border: 1px solid #b1b0b6;
  color: #b1b0b6;
}
.btn.small {
  padding: 13px 19px;
}
.btn:hover {
  color: #fff;
  border-color: #ea3b4f;
  background: #ea3b4f;
}
.btn:active {
  color: #fff;
  border-color: #ea3b4f;
  background: #ea3b4f;
}

/*==================      Box      ======================*/
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box_aside {
  float: left;
  margin-right: 36px;
}
.box_cnt__no-flow {
  overflow: hidden;
}

/*========================   Menu   ==========================*/
.sf-menu {
  font-family: "Roboto", sans-serif;
  display: inline-block;
}
.sf-menu:before, .sf-menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
}
.sf-menu > li + li {
  margin-left: 1px;
}
.sf-menu a {
  display: block;
}

.sf-menu > li > a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 25px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #000;
  background: #fff;
}
.sf-menu > li.active > a {
  color: #000;
  background: #fff;
  /*background: map-get($scheme, default);*/
}

.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 185px;
  margin-top: 10px;
  padding: 10px 0 10px;
  background: #fff;
  z-index: 9999999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
}

.sf-menu ul {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}
.sf-menu ul > li {
  position: relative;
}
.sf-menu ul > li > a {
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  color: #8e8d93;
  padding: 10px 25px 10px 25px;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #FFF;
  background: #8e8d93;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.sf-menu ul ul {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  position: absolute;
  left: 100%;
  width: auto;
  margin-top: -49px;
  min-width: 150px;
  margin-left: 1px;
  padding: 0;
  padding: 10px 0 10px;
  z-index: 4;
}

.sf-menu ul ul > li > a {
  color: #8e8d93;
}
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #FFF;
  background: #8e8d93;
}

.sf-menu ul > li > .sf-with-ul {
  position: relative;
}
.sf-menu ul > li > .sf-with-ul:before {
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -7px;
  content: "";
  color: #252023;
  font: 400 14px/14px "FontAwesome";
}

@media (max-width: 991px) {
  .sf-menu > li > a {
    /*font-size: 14px;*/
    padding: 7px 12px;
  }
}
@media (max-width: 767px) {
  .nav {
    padding: 5px 0;
  }

  .sf-menu {
    display: none;
  }
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  background: #ea3b4f;
  color: #FFF;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px "FontAwesome";
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #FFF;
  color: #666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
}
.rd-mobilemenu_ul ul ul a {
  padding-left: 60px;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}
.rd-mobilepanel h2 {
  text-align: left;
}
.rd-mobilepanel h2:before, .rd-mobilepanel h2:after {
  display: none;
}

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
/*==================  Stuck menu  ======================*/
.isStuck {
  background: #444;
  z-index: 999;
  border-bottom: 1px solid #333333;
}

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*==================     ToTop     ======================*/
.toTop {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #fff;
  background: #252023;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #fff;
  background: #ea3b4f;
  text-decoration: none;
}

.mobile .toTop,
.tablet .toTop {
  display: none !important;
}

/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax_image, .parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}

/*==================   Thumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fff;
  background: transparent;
}
.thumb_overlay:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font: 400 30px "FontAwesome";
  line-height: 30px;
  margin-top: -15px;
  text-align: center;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*========================================================
					 HEADER  Section
=========================================================*/
header {
  background: #252426;
  background: url(../images/header_bg.jpg) 50% 0 no-repeat #252426;
  background-size: cover;
  padding: 41px 0 38px;
}
header:before, header:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after {
  clear: both;
}
header.camera-header {
  position: absolute;
  background: none;
  z-index: 10;
  width: 100%;
}
header .brand {
  float: left;
  margin-left: 40px;
}
header .nav {
  float: right;
  margin-right: 40px;
  margin-top: 14px;
}
@media (max-width: 991px) {
  header {
    text-align: center;
  }
}
@media (max-width: 767px) {
  header {
    text-align: center;
  }
  header .brand, header .nav {
    float: none;
  }
}

/*========================================================
					 CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #fff;
}

.col1 {
  float: left;
  width: 25%;
}
@media (max-width: 479px) {
  .col1 {
    width: 50%;
  }
}

/*==================      article1     ======================*/
.article1 {
  position: relative;
}
.article1 time {
  position: absolute;
  left: 0;
  top: -20px;
  background: #ea3b4f;
  width: 130px;
  height: 130px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.article1 time .day {
  font-size: 60px;
  line-height: 1;
  display: block;
  margin-top: 20px;
  font-weight: 500;
}
.article1 time .month {
  margin-top: 5px;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  display: block;
}
.article1 img {
  width: 100%;
}
.article1 img + h4, .article1 time + h4 {
  margin-top: 35px;
}
@media (max-width: 767px) {
  .article1 {
    margin-top: 40px;
  }
}

/*==================      article2     ======================*/
.article2 {
  position: relative;
}
.article2 time {
  margin-top: 4px;
  background: #ea3b4f;
  width: 112px;
  height: 112px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.article2 time .day {
  font-size: 60px;
  line-height: 1;
  display: block;
  margin-top: 0px;
  font-weight: 500;
}
.article2 time .month {
  margin-top: -3px;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  display: block;
}

/*==================      gall1     ======================*/
.gall1 {
  overflow: hidden;
}
/*.gall1 .col1 {
  margin-top: 80px;
}
.gall1 .col1 + .col1 {
  margin-top: 40px;
}
.gall1 .col1 + .col1 + .col1 {
  margin-top: 120px;
}
.gall1 .col1 + .col1 + .col1 + .col1 {
  margin-top: 0px;
}
@media (max-width: 640px) {
  .gall1 .col1 {
    margin-top: 10px;
  }
  .gall1 .col1 + .col1 {
    margin-top: 0px;
  }
  .gall1 .col1 + .col1 + .col1 {
    margin-top: 30px;
  }
  .gall1 .col1 + .col1 + .col1 + .col1 {
    margin-top: 0px;
  }
}

.gall1.mod1 {
  margin-top: 84px;
}
.gall1.mod1 .col1 {
  margin-top: 120px;
}
.gall1.mod1 .col1 + .col1 {
  margin-top: 0px;
}
.gall1.mod1 .col1 + .col1 + .col1 {
  margin-top: 40px;
}
.gall1.mod1 .col1 + .col1 + .col1 + .col1 {
  margin-top: 80px;
}
@media (max-width: 991px) {
  .gall1.mod1 .col1 {
    margin-top: 40px;
  }
  .gall1.mod1 .col1 + .col1 {
    margin-top: 0px;
  }
  .gall1.mod1 .col1 + .col1 + .col1 {
    margin-top: 10px;
  }
  .gall1.mod1 .col1 + .col1 + .col1 + .col1 {
    margin-top: 30px;
  }
}*/

/*==================      header-txt     ======================*/
.header-txt {
  padding-top: 241px;
  text-align: center;
  max-width: 100%;
}
@media (max-width: 1199px) {
  .header-txt {
    padding-top: 90px;
  }
}
.header-txt img, .header-txt .header-txt-all {
  max-width: 100%;
  font-weight: 400;
}
.header-txt .header-txt-all {
  display: inline-block;
}
.header-txt p {
  float: left;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
@media (max-width: 1199px) {
  .header-txt p {
    letter-spacing: 0;
    float: none;
  }
}
.header-txt img {
  float: left;
  margin: 0;
}
@media (max-width: 1199px) {
  .header-txt img {
    float: none;
    margin: 10px 0;
  }
}
.header-txt .header-txt1 {
  margin-top: 234px;
  margin-right: 0px;
  left: -28px;
}
@media (max-width: 1199px) {
  .header-txt .header-txt1 {
    left: 0;
    margin-top: 0;
  }
}
.header-txt .header-txt2 {
  margin-top: 312px;
  margin-left: 0px;
  left: -22px;
}
@media (max-width: 1199px) {
  .header-txt .header-txt2 {
    left: 0;
    margin-top: 0;
  }
}

/*-----------css start table ---------------*/
.table-1 {
  background: #f8f8f8;
  line-height: 31px;
  width: 100%;
  vertical-align: middle;
  margin-top: 20px;
}
@media (max-width: 1199px) {
  .table-1 {
    line-height: 18px;
    text-align: left;
    font-size: 12px;
  }
}

.table-1 td {
  vertical-align: middle;
  padding: 10px 0 9px;
}
@media (max-width: 1199px) {
  .table-1 td {
    padding: 10px 3px;
  }
}

.table-1 tr {
  vertical-align: middle;
}
.table-1 tr:nth-child(2n) {
  background: #fcfcfc;
}

.stars_main {
  display: inline-block;
  width: 59px;
  height: 10px;
  margin-top: 10px;
  margin-left: 5px;
}
.stars_main > span {
  display: inline-block;
  width: 59px;
  height: 10px;
  background: url(../images/stars_bg.png) 0 0 no-repeat;
}

.col-1 {
  width: 88px;
  padding-left: 18px !important;
  color: #252023;
}

.col-2 {
  width: 200px;
}

.col-3 {
  width: 60%;
  color: #252023;
  padding-left: 5px !important;
}

.col-4 {
  width: 10%;
}

.owl-title {
  margin-top: 60px;
  padding-bottom: 22px;
  text-align: center;
  color: #b1b0b6;
}
.owl-title span {
  color: #252023;
}

/*-----------css end table ---------------*/
/*==================      Well     ======================*/
.well {
  padding-top: 144px;
  padding-bottom: 50px;
}

.well2 {
  padding-top: 144px;
}

/*========================================================
					 FOOTER  Styles
=========================================================*/
footer {
  background: #fff;
  text-align: center;
  padding: 30px 0 40px;
}
footer hr {
  margin: 66px 0 142px;
}
footer a:hover {
  color: #ea3b4f;
}
